@model Dados

@{
    ViewData["Title"] = "Consulta";
}

    <form method="post" action="Consulta">
        <div class="form-group">
            <label for="Animal">Seu animal: </label>
            <input type="text" value="@Model.Animal" name="Animal" id="Animal" placeholder="Diga qual seu animal" required />
        </div>
        <div class="form-group">
            <label for="DataHora">Horario</label>
            <input type="datetime" value="@Model.DataHora" name="DataHora" id="DataHora" />
        </div>
        <div class="form-group">
            <label for="Consulta">Detalhes da consulta</label>
            <input type="text" value="@Model.Consulta" name="Consulta" id="Consulta" />
        </div>
        <input type="submit" value="Salvar" />
    </form>