@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-3">MENU</div>
    <div class="col-6">CONTEUDO</div>
    <div class="col-3">MAIS OPÇÕES</div>
</div>

<div class="row">
    <div class="col-9">CONTEUDO</div>
    <div class="col-3">MAIS OPÇÕES</div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">CONTEUDO</div>
    <div class="col-12 col-lg-6">
        <button class="btn btn-primary">Clique Aqui</button>
        <button class="btn btn-outline-primary">Clique Aqui</button>
    </div>
</div>