@{
    ViewData["Title"] = "Home Page";
}

<style>
    p {
        margin-top: 10px;
        text-align: justify;
        padding: 10px;
    }
</style>

<div class="text-center">
   <h1>Anime, o que é?</h1>
   <div class="card">
   <img src="https://www.animeunited.com.br/wp-content/uploads/2017/05/1450334278-77e37a7d0dc343273732a7dbfb0370ce.jpeg" alt="Non non biyori" title="Anime: Non Non Biyori" class="card-img-top">
   <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anime, animê (português brasileiro) ou animé (português europeu) (em japonês: アニメ), se refere à animação ou desenho animado. A palavra é a pronúncia abreviada de "animação" em japonês, onde esse termo se refere a qualquer animação, não importa o país.[1] Para os ocidentais, a palavra se refere às animações oriundas do Japão. A origem da palavra é controversa, podendo vir da palavra inglesa animation [animação] ou da palavra francesa animé [animado],[2] versão defendida por pesquisadores como Frederik L Schodt[3] e Alfons Moliné.[4] Ao contrário do que muitos pensam, o animê não é um género, mas um meio, e no Japão produzem-se filmes animados com conteúdos variados, dentro de todos os géneros possíveis e imagináveis (comédia, terror, drama, ficção científica, etc.).</p>
   </div>
</div>
